*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('girl.jpg');
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    /* overflow: hidden; */
}
.container{
    background-color: rgba(0, 0, 0,.8);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* position: fixed; */
}
nav{
    position: relative;
    transform: rotate(-30deg) translate(80px,-250px);
}
nav div{
    position: absolute;
    width: 800px;
    height: 800px;
    border: 1px solid #555;
    transition: transform 700ms ease;
    color: #777;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div:nth-of-type(1){
    width: 500px;
    left: 500px;
}
nav div:nth-of-type(2){
    height: 450px;
    top: 350px;
    left: 1000px;
}
nav div:nth-of-type(3){
    height: 450px;
    top: 800px;
}
nav div:nth-of-type(4){
    width: 500px;
    top: 800px;
    left: 800px;
}
nav div:hover{
    transform: scale(.95);
    box-shadow: 0 0 15px 3px #666;
    outline: none;
    color: #ccc;
}
nav div:hover a{
    color: #777;
}
nav div span{
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
}
nav div:nth-of-type(1) a{
    transform:rotate(30deg) translate(60px,200px);
}
nav div:nth-of-type(2) a{
    transform:rotate(30deg) translate(-130px,150px);
}
nav div:nth-of-type(3) a{
    transform:rotate(30deg) translate(100px,-150px);
}
nav div:nth-of-type(4) a{
    transform:rotate(30deg) translate(-140px,-190px);
}
nav a{
    color: #555;
    text-decoration: none;
}

/* -------------main------------ */
main{
    max-width: 40vw;
    height: 100vh;
    display: flex;;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 2rem;
}
section.heading{
    max-width: 600px;
    /* padding-left: 50px; */
}
section.heading span{
    padding: 100px auto;
    display: block;
}
section.heading p{
    font-weight: 300;
}
section.heading p.about{
    font-size: 1.5rem;
    margin-top: 50px;
}
/* -----------projects ------------ */
section.projects{
    width: 1000px;
    height: 100vh;
    background-color: #eee;
    /* background-color: #111; */
    position: absolute;
    transform: translateX(1920px);
    transition: transform 300ms ease;
    display: none;
    padding:20px;
    color: #444;
    /* color: #ccc; */
    overflow-y: scroll;
}
section.projects.show{
    display: block;
    transform: translateX(1030px);

}
/* section.projects#games{
    display: block;
    transform: translateX(1030px);
} */
button.close-btn{
    position: absolute;
    border: none;
    font-size: 1.8rem;
    top: 5px;
    right: 15px;
    background-color: transparent;
    color: #444;
    /* color: #ccc; */
}
button.close-btn:hover{
    color: #000;
    /* color: #fff; */
}
section.projects>h1{
    text-align: center;
    margin-bottom: 40px;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.card{
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px #aaa;
    font-size: 1.4rem;
}
.card .image{
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.card .image img{
    width: 100%;
}
.card .description{
    padding: 10px 20px;
}
.card .project-name{
    display:flex;
    justify-content: space-between;
    align-items: center;
        margin-bottom: 10px;
}
.card .project-name span a{
    font-size: 2rem;
    color: #444;
    /* color: #ccc; */
}
.card .project-name span a:hover{
    color: #000;
    /* color: #fff; */
}
