*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/girl.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.container{
    background-color: rgba(0, 0, 0,.85);
    color: #ccc;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
/* ============= nav=========== */

.navigation{
    transform: rotateZ(-28deg);
    animation: dropIn 1s;
}

@keyframes dropIn {
    from{
        transform: translateY(-200px);
        opacity: 0;
    }
    to{
        transform: rotateZ(-28deg) translateY(0px);
        opacity: 1;
    }
}

.nav-first-row{
    display: flex;
    justify-content: end;
    align-items:end;
    transform: translateX(220px);
}

.nav-second-row{
    display: flex;
    justify-content: start;
    align-items:start;
    transform: translateX(-220px);
}

.navigation .nav-box{
    display: inline-flex;
    border: 1px solid #2e2e2e;
    transition: transform 700ms ease;
}

.navigation .nav-box p{
    transition: transform 700ms ease;
}

.navigation .nav-box.one,
.navigation .nav-box.four
{
    width: 460px;
    height: 750px;
}

.navigation .nav-box.two,
.navigation .nav-box.three
{
    width: 750px;
    height: 460px;
}

.navigation .nav-box{   
    color: #555;
    font-size: 2rem;
    text-decoration: none;
}

.navigation .nav-box div{
    transform: rotateZ(30deg);
}

.navigation .nav-box hr{
    width: 100px;
    border-color: #555;
}

.navigation .nav-box.one{
    justify-content: center;
    align-items: end;
    padding: 100px; 
}

.navigation .nav-box.two{
    align-items: end;
    padding: 100px; 
}

.navigation .nav-box.three{
    align-items: start;
    justify-content: end;
    padding: 100px; 
}

.navigation .nav-box.four{
    align-items: start;
    justify-content: center;
    padding: 100px; 
}

.navigation .nav-box:hover{
    transform: scale(.96);
    box-shadow: 0px 0px 20px 0px #444;
    color: #999;
}

.navigation .nav-box:hover hr{
    border-color: #999;
}

.navigation .nav-box:hover p:nth-child(1){
    transform: translateX(-60px);
}

.navigation .nav-box:hover p:nth-child(3){
    transform: translateY(-40px);
}

/* ------ media queries for navigation ------- */

@media (width < 1900px) {
    .nav-first-row{
        transform: translateX(180px);
    }
    
    .nav-second-row{
        transform: translateX(-180px);
    }
    
    .navigation .nav-box.one,
    .navigation .nav-box.four
    {
        width: 360px;
        height: 550px;
    }
    
    .navigation .nav-box.two,
    .navigation .nav-box.three
    {
        width: 550px;
        height: 360px;
    }
}

@media (width < 1600px) {
    .nav-first-row{
        transform: translateX(150px);
    }
    
    .nav-second-row{
        transform: translateX(-150px);
    }

    .navigation .nav-box{
        font-size: 1.5rem;
    }

    .navigation .nav-box hr{
        width: 75px;
    }
    
    .navigation .nav-box.one,
    .navigation .nav-box.four
    {
        width: 300px;
        height: 460px;
    }
    
    .navigation .nav-box.two,
    .navigation .nav-box.three
    {
        width: 460px;
        height: 300px;
    }

    .navigation .nav-box:hover p:nth-child(1){
        transform: translateX(-40px);
    }
    
    .navigation .nav-box:hover p:nth-child(3){
        transform: translateY(-30px);
    }
}

@media (width < 1200px) {
    .nav-first-row{
        transform: translateX(110px);
    }
    
    .nav-second-row{
        transform: translateX(-110px);
    }

    .navigation .nav-box.one,
    .navigation .nav-box.four
    {
        width: 240px;
        height: 350px;
        padding: 50px;
    }
    
    .navigation .nav-box.two,
    .navigation .nav-box.three
    {
        width: 350px;
        height: 240px;
        padding: 50px;
    }
}

/* ============end nav====== */



/* -------------main------------ */

section.heading{
    width: 500px;
    align-self: center;
    color: #999;
    font-size: 1.4rem;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

section.heading span{
    padding: 100px auto;
    display: block;
}
section.heading p{
    font-weight: 300;
}
section.heading p.about,
section.heading .contact{
    margin-top: 30px;
}

@media (width < 1600px) {
    section.heading{
        width: 400px;
        font-size: 1.2rem;
    }

    section.heading span{
        padding: 50px auto;
    }
}

@media (width < 1200px) {
    section.heading{
        width: 300px;
        font-size: 1rem;
    }
}

/* --------media query--------- */

@media (width < 950px) {
    .navigation{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation .nav-box{
        font-size: 1.2rem;
    }

    .nav-first-row{
        transform: translate(-50px, 60px);
        justify-content: center;
        align-items: start;
        /* padding-left: 50px; */
    }

    .nav-second-row{
        transform: translate(50px, -50px);
        justify-content: center;
        align-items: end;
        /* padding-right: 50px; */
    }

    section.heading{
        position: absolute;
        text-align: center;
    }

    .contact,
    .about{
        display: none;
    }
}

/* -----------projects ------------ */

.links{
    position: absolute;
    width: 50vw;
    height: 100vh;
    
    color: #222;
    right: -50vw;
}

@media (width < 1600px) {
    .links{
        width: 800px;
        right: -800px;
    }
}

@media (width < 800px) {
    .links{
        width: 700px;
        right: -700px;
    }
}

.links > div{
    position: absolute;
    transition: all 500ms ease;
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.links > div.show{
    transform: translateX(-100%);
}

.links .header{
    display: flex;
    font-size: 1.5rem;
    padding: 5px;
    border-bottom: 1px solid #777;
}

.links .header .back-btn{
    background-color: transparent;
    color: #222;
    font-size: 2.5rem;
    border: none;
}

.links .header h2{
    text-align: center;
    flex-grow: 1;
}

/* -------------about------------- */

#about{
    overflow-y: scroll;
}

#about .intro{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
    position: relative;
}

#about .intro .name{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 10px;
}

#about .intro .name h1{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 20px 0;
    width: 300px;
    font-weight: 500;
    color: #555;
}

#about .intro .name .social{
    font-size: 1.2rem;
    display: flex;
    gap: 10px;
    margin: 10px;
}

#about .intro .name h1 span{
    color: #000;
    font-weight: 700;
}

#about .intro img{
    width: 400px;
}

#about .intro .attribute{
    position: absolute;
    color: #999;
    bottom: -30px;
    right: 70px;
}

#about .intro .attribute a{
    color: #999;
}

#about p.about{
    width: 90%;
    margin: 50px auto;
    /* padding: 20px; */
    font-size: 1.3rem;
    letter-spacing: 1.1px;
    line-height: 1.5;
}

#about .contact{
    background-image: url('images/map.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 20px;
}

#about .contact > div{
    background-color: rgba(0, 0, 0, .6);
    padding: 50px 0;
    color: #fff;
}

#about .contact h2{
    font-size: 2rem;
    margin: 20px 0;
}

#about .contact p{
    margin-top: 5px;
    font-size: 1.1rem;
}

/* ---------projects------- */

#projects{
    overflow-y: scroll;
    padding: 10px;
}

#projects p.meta{
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    margin: 30px auto;
}

#projects p.meta a{
    color: #222;
}

#projects .project{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    margin: 80px 10px;
    padding: 0 30px 30px;
    border-bottom: 1px solid #aaa;
    gap: 20px;
}

@media (width < 800px) {
    

    
    #projects .project{
        flex-direction: column;
    }

    #projects .project:nth-of-type(3){
        flex-direction: row;
    }
}

#projects .project h2{
    margin: 20px 0;
}

#projects .project img{
    width: 400px;
}

#projects .project p.project-links{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

/* ----------skills------------ */
#skills{
    overflow-y: scroll;
}

#skills > p{
    width: 80%;
    font-size: 1.1rem;
    text-align: center;
    margin: 20px auto;
}

#skills .skills-grid{
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#skills .skills-grid > div{
    width: 300px;
    margin: 10px;
    padding: 0 20px;
}

#skills .skills-grid > div > h3{
    padding:10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #aaa;
}

/* -----blog-------- */

#blog .intro-line{
    width: 600px;
    text-align: center;
    margin: 20px auto;
}

#blog a{
    display:block;
    text-align: center;
    margin: 30px auto;
}
